@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Fira Sans'), local('Fira-Sans'),
    url(https://fonts.gstatic.com/s/firasans/v17/va9E4kDNxMZdWfMOD5Vvl4jLazX3dA.woff2) format('woff2');
  font-display: swap;
}

* {
  box-sizing: border-box;
}

.antistatic {
  --bg-outer: rgb(24, 23, 20);
  --bg-inner: rgb(29, 24, 24);
  --bg: rgb(47, 41, 41);

  --outline: rgb(6, 3, 0);
  --outline-highlight: rgb(9, 6, 3);

  --dim-highlight: rgb(177, 77, 0);
  --highlight: rgb(255, 110, 0);
  --shadow: rgb(27, 12, 0);
}

.bluehexagons {
  --bg-outer: #20202a;
  --bg-inner: #18181d;
  --bg: #29292f;

  --outline: rgb(2, 2, 6);
  --outline-highlight: rgb(3, 6, 9);

  --dim-highlight: rgb(0, 134, 151);
  --highlight: rgb(0, 223, 252);
  --shadow: rgb(0, 20, 22);
}

body {
  --bluehexagons: rgb(0, 223, 252);
  --antistatic: rgb(255, 110, 0);

  --content-width: 1200px;
  --breakpoint: 990px;

  background: var(--bg-outer) top repeat;
  background-image: linear-gradient(to bottom,rgba(166, 192, 226, 0.01), rgba(94, 71, 51, 0.185)), url('b6bg_b.png');
  color: #eaeaea;
  margin: 0;
  padding: 0;
  font-family: 'Fira Sans', sans-serif;
  font-size: 18px;
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  width: 10px;
}
 
body::-webkit-scrollbar-track {
  background-color: rgba(14, 17, 19, 0.671);
}
 
body::-webkit-scrollbar-thumb {
  background-color: rgba(117, 137, 155, 0.671);
}

a {
  color: #c9baae;
  text-decoration: underline;
}
a:visited {
  color: #c9baae;
}
a:hover {
  color: #fff;
}

#footer {
  font-size: 9pt;
  margin: 0 auto 20px auto;
  width: 90%;
  max-width: 100%;
  line-height: 16pt;

  /* padding: 0 20px; */
}

#footer > .copyright {
  float: right;
}

#footer > .links > a:not(:first-child) {
  display: inline-block;
  border-left: 1px solid #686058;
  padding-left: 10px;
  margin-left: 10px;
}

#intro {
  background: white;
  width: 100%;

  min-height: 900px;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  transform: translateY(-33.3%);
  outline: 2px solid var(--outline);
}

#main article > .reel {
  width: 100%;
  max-width: 480px;
  margin-left: auto;
  margin-right: auto;
}
.reel > div {
  background: rgb(9, 7, 5);
  outline: 2px solid var(--outline);
  display: block;

  position: relative;
  padding-bottom: 56.25%;
}
.bluehexagons > .reel > div {
  background: rgb(5, 7, 9);
}

.reel > div > video {
  position: absolute;
  margin: auto;
  display: inline-block;
  width: 100%;
  height: 100%;

  transition: opacity 167ms ease-in-out;
}

#intro-div, #reel-div {
  width: 100%;
  overflow: hidden;

  min-height: 300px;
  top: 10px;
  height: 0%;
  outline: 2px solid var(--outline);
  background: var(--bg-inner);

  box-shadow: 0px 3px 45px -4px rgba(0, 0, 0, 0.75);
}
#reel-div {
  min-height: 0;
  height: auto;
}
#logo-div {
  overflow: hidden;
  max-width: 900px;
  padding: 10px 10px 10px 10px;
  margin: auto;
}
#logo-div #logo {
  width: max(10%, 50px);
  z-index: 10;
  margin-left: 0;
  margin-right: 0;
  text-align: center;
  display: inline-block;
}
#logo-div img:not(#logo) {
  width: 100%;
  z-index: 10;
  margin-left: 0;
  margin-right: 0;
  text-align: center;
  display: inline-block;
}
#content {
  position: relative;
}
#main {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  padding: 0;
  padding-bottom: 15px;
  background: var(--bg-inner);
  outline: 2px solid var(--outline);
  display: block;

  box-shadow: 0px 3px 45px -4px rgba(0, 0, 0, 0.75);
}

#sidebar {
  width: 100%;
}
#sidebar > iframe {
  width: 100% !important;
}
@media (min-width: 990px) {
  #main.withSidebar {
    max-width: 1200px;
  }
  #main.withSidebar #articles {
    width: calc(100% - 320px);
  }
  #sidebar {
    width: 300px;
    position: absolute;
    top: 0;
    right: 10px;
  }
}
#main p {
  text-align: justify;
  text-justify: auto;
}

/* #main p, #main ul, #main h2, #main h3, #main h4 { */
#main article > * {
  max-width: 690px;
  padding-left: 5px;
  padding-right: 5px;
  margin-left: auto;
  margin-right: auto;
}
#main article > h1 {
  margin: 0;
  background: var(--bg-outer);
  width: 100%;
  max-width: 100%;
  padding: 0;
}
#main div.spoiler {
  max-width: 690px;
  padding-left: 5px;
  padding-right: 5px;
  margin-left: auto;
  margin-right: auto;
}
#main div.spoiler > label {
  opacity: 1;

  color: var(--dim-highlight);
  cursor: pointer;
  user-select: none;
}
#main div.spoiler > label:hover {
  color: var(--highlight);
}
#main div.spoiler > label:last-of-type {
  display: none;
}
#main div.spoiler > input:checked ~ label:first-of-type {
  /* opacity: 0.5; */
  display: none;
}
#main div.spoiler > input:checked ~ label:last-of-type {
  /* opacity: 0.5; */
  display: block;
}
#main div.spoiler > input {
  display: none;
}
#main div.spoiler > input:checked ~ :last-child {
  display: block;
}
#main div.spoiler > :last-child {
  display: none;
}

#main ul {
  list-style: inside none;
}

#main ul > li {
  margin-bottom: 10px;
  margin-left: 8px;
}

#main h2, #main h3, #main h4 {
  text-align: left;
}
#main > article {
  margin-bottom: 20px;
}
#main > article > iframe {
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.antistatic .features strong {
  color: rgb(204, 88, 0);
  text-shadow: rgb(17, 7, 0) 1px 0 10px;
}
h1 {
  line-height: 40px;
  position: relative;
  color: var(--highlight);
  text-shadow: var(--shadow) 1px 0 10px;
}

h2 {
  line-height: 30px;
  text-shadow: var(--shadow) 1px 0 10px;
}
h3 {
  line-height: 20px;
  text-shadow: var(--shadow) 1px 0 10px;
}
h4 {
  line-height: 15px;
}

.navbar {
  line-height: 60px;
  margin: 0 auto;
  text-align: center;
}

.nav {
  font-size: 22px;
  white-space: nowrap;
  cursor: default;
  max-width: 100%;
  overflow-x: auto;
}

.socials {
  float: right;
  text-align: right;
  font-weight: normal;
  cursor: default;
  white-space: nowrap;
  margin-right: 10px;
}

@media(max-width: 850px) {
  .socials {
    display: block;
    float: none;
    text-align: center;
    margin: 0;
  }
  .nav {
    display: block;
    text-align: center;
    margin: 0;
  }
}

.nav > a {
  border-radius: 3px;
  text-decoration: none;
  padding: 4px 9px;
  background: var(--bg-outer);
  color: var(--highlight);
  border: 1px solid rgb(59, 69, 82);
  font-weight: bold;
  box-shadow: 0px 3px 6px -2px rgba(0, 0, 0, 0.75);
}
.nav > a:visited {
  color: var(--highlight);
}
.nav > a:hover {
  background: var(--bg);
  color: var(--highlight);
}

.socials {
  margin-top: -2px;
}
.socials > span > a {
  color: #ccc;
  font-size: 40px;
  padding: 0;
  margin: 0;
  vertical-align: middle;
  line-height: 40px;
  margin-left: 3px;
}
.socials > span > a:visited {
  color: #ccc;
}
.socials > span > a:hover {
  color: #f0f0ff;
  cursor: pointer;
}
.socials > .antistatic-text {
  margin-right: 10px;
}

.antistatic-text {
  color: var(--antistatic) !important;
  text-shadow: rgb(27, 12, 0) 1px 0 10px;
}
.antistatic-text svg {
  filter: drop-shadow(1px 0 10px rgb(27, 12, 0));
}
.bluehexagons-text {
  color: var(--bluehexagons) !important;
  text-shadow: rgb(0, 20, 22) 1px 0 10px;
}
.bluehexagons-text svg {
  filter: drop-shadow(1px 0 6px rgb(0, 20, 22));
}

a svg:hover {
  text-decoration: none;
}

.features {
  padding-left: 0;
  margin-left: 0;
}
.fa-discord {
  position: relative;
  top: 2px;
}

.itch-svg {
  max-width: 1em;
  position: relative;
  top: 2px;
}

.b6-svg {
  max-width: 1em;
  position: relative;
  top: 1px;
  left: 1px;
}

pre {
  padding: 5px 10px;
  margin-left: auto;
  margin-right: auto;
  overflow: auto;
  background: rgb(27, 21, 15);
  color: rgb(255, 200, 140);
  border: 2px solid rgb(128, 100, 71);
  border-radius: 3px;
}

kbd, code {
  color: rgb(255, 200, 140);
  background: rgb(27, 21, 15);
  border: 1px solid rgb(128, 100, 71);
  padding: 0 3px;
  border-radius: 3px;
}

kbd {
  border-color: rgb(128, 128, 128);
  background: rgb(21, 21, 21);
}

pre code {
  font-size: 80%;
  border: none;
  padding: 0;
}

/* v2 */
.contentArea {
  position: relative;
  overflow-x: auto;
  padding: 40px 0;
}
.contentArea > * {
  display: grid;
  grid-template-columns: [widest-start] 1fr 60px [centered-start] 800px [centered-end] 60px 1fr [widest-end];

  max-width: 100%;
  overflow-x: auto;
}

@media (max-width: 990px) {
  .contentArea > * {
    grid-template-columns: [widest-start] 60px [centered-start] 1fr [centered-end] 60px [widest-end];
  }

  #footer {
    padding: 0 5px;
  }

  #footer > .copyright {
    float: none;
    display: block;
  }
}

@media (max-width: 600px) {
  .contentArea > * {
    grid-template-columns: [widest-start] 10px [centered-start] 1fr [centered-end] 10px [widest-end];
  }
}

.contentArea > * > * {
  grid-column: centered;
}

.center {
  text-align: center;
}

.contentArea > * .centered {
  grid-column: centered;
}

.contentArea > * .widest {
  grid-column: widest;
}

.contentArea__background {
  display: block;
  position: absolute;
  background: rgba(8, 12, 17, 0.8);
  backdrop-filter: blur(40px);
  width: 900px;
  height: calc(100% - 40px);
  z-index: -1;
  left: 50%;
  transform: translateX(-50%);
  border: 2px solid #252a33;
  border-radius: 3px;
  box-shadow: 0 0 40px rgb(8, 9, 10);
}

@supports (backdrop-filter: blur(40px)) {
  .contentArea__background {
    background: #0004;
  }
}

@media (max-width: 990px) {
  .contentArea__background {
    display: none;
  }
  .contentArea {
    background: #0004;
    backdrop-filter: blur(40px);
  }
}

.expandToggle {
  vertical-align: middle;
  appearance: none;
  background: none;
  border: 0;
  outline: 0;
  cursor: pointer;
  margin-bottom: 25px;
  font-weight: bold;
}

.expandToggle::before {
  color: white;
  content: '(more...)';
  width: 100px;
  font-size: 17px;
  text-decoration: underline;
}

.expandToggle ~ * {
  display: none;
}

.expandToggle:checked {
  /* display: none; */
  font-style: italic;
  font-weight: lighter;
  margin-bottom: 10px;
}

.expandToggle:checked::before {
  content: '(less)';
}

.expandToggle:checked ~ * {
  display: block;
}

.flexList {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  text-align: center;
  padding: 0;
  overflow-x: hidden;
}

icon-img {
  vertical-align: middle;
}

.flexList__background {
  padding: 6px;
  background: #0b161d;
  gap: 6px;
  justify-content: left;
  border: 1px solid #1a2e3a;
  border-radius: 3px;
}

.flexList__background > li {
  /* background: #251808; */
  /* border-bottom: 4px solid #775020; */
  padding: 6px 10px;
  position: relative;
  /* border-radius: 3px; */
}

.flexList__background > li::before {
  content: '';
  position: absolute;
  width: 12px;
  height: 4px;
  border-radius: 2px;
  transform: translate(-50%, 0);
  left: 50%;
  bottom: 0;
  background: #555d;

  transition: color 120ms ease-out, width 120ms ease-out, transform 120ms ease-out, height 120ms ease-out;
}

.flexList__background > li:hover::before {
  width: calc(100% - 20px);
  height: 2px;
  transform: translate(-50%, -1px);
  background: #775020;
}

.flexList > li {
  list-style-type: none;
  display: block;
  white-space: nowrap;
}

.image-scroller {
  position: relative;
}

.image-scroller__container {
  overflow-x: auto;
  padding-bottom: 10px;
  max-width: 100%;
}

.image-scroller__container::-webkit-scrollbar {
  height: 8px;
}
 
.image-scroller__container::-webkit-scrollbar-track {
  background-color: rgba(14, 17, 19, 0.671);
  display: none;
  height: 2px;
  top: 0;
}
 
.image-scroller__container::-webkit-scrollbar-thumb {
  background-color: rgba(117, 137, 155, 0.671);
  height: 8px;
}

.image-scroller__gallery {
  white-space: nowrap;
  justify-content: flex-start;
  padding: 10px;
  display: inline-flex;
  height: 300px;
  gap: 10px;
  align-items: center;
  overflow: visible;
}

.image-scroller__gallery > *, .image-scroller__gallery > a > img {
  display: block;
  max-height: 300px;
  width: auto;
  object-fit: contain;
  max-width: 600px;
}

.image-scroller img {
  border-radius: 2px;
  border-bottom: 4px solid #555555;
  transition: border-bottom 120ms ease-out;
  box-shadow: 0 4px 12px black;
}

.image-scroller img.highlighted {
  border-bottom: 4px solid #ccc055;
}

.image-scroller__description {
  margin: 10px 0 0 0;
  max-width: 600px;
  text-align: left;
  transform: translateX(10px);
  transition: transform 66ms ease-out;
  background: rgba(19, 21, 22, 0.7);
  border-radius: 6px;
  padding: 10px;
}

.contentArea ul {
  list-style-type: none;
  margin-right: 0;
  margin-left: 0;
  text-align: left;
}

.labeledList {
  > div {
    color: rgb(147, 211, 219);
    text-shadow: 0 0.5px 4px black;
  }

  > ul {
    margin-top: 5px;
    margin-bottom: 25px;
  }
}

.contentArea h1 {
  margin-bottom: 10px;
  font-size: 32px;

  color: rgb(213, 250, 255);
  text-shadow: 0 0.5px 4px black;
}

.contentArea h2 {
  color: rgb(255, 219, 192);
  margin-top: 40px;
  margin-bottom: 0;
  font-size: 26px;
}

.timeRange {
  margin-top: -8px;
}

@media (min-width: 990px) {
  .timeRange {
    margin-top: -40px;
    float: right;
    text-align: right;
  }
}
