.content_area {
  position: relative;
  padding: 0;
  overflow: visible;
}

.content_wrapper {
  display: grid;
  grid-template-columns: [widest-start] 1fr 120px [centered-start] var(--content-width, 1200px) [centered-end] 120px 1fr [widest-end];
  max-width: 100%;
  overflow-x: auto;
}

::slotted(*) {
  grid-column: centered;
}

.content_area > * > * {
  grid-column: centered;
}

.content_area > * .centered {
  grid-column: centered;
}

.content_area > * .widest {
  grid-column: widest;
}

.content_area__background {
  display: block;
  position: absolute;
  width: var(--background-width, 1420px);
  height: 100%;
  z-index: -1;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 6.6px;
  background-color: rgba(6, 7, 8, 0.2);
  box-shadow: 0 100px 150px rgba(8, 9, 10, 0.9);

  background: #0b161d top repeat;
  background-image: url('/assets/b6bg_b.png');
}

@media (max-width: 1660px) {
  .content_area {
    --background-width: calc(100% - 300px);
  }
  .content_wrapper {
    grid-template-columns: [widest-start] 240px [centered-start] 1fr [centered-end] 240px [widest-end];
  }
}

@media (max-width: 1200px) {
  .content_area {
    --background-width: calc(100% - 120px);
  }
  .content_wrapper {
    grid-template-columns: [widest-start] 120px [centered-start] 1fr [centered-end] 120px [widest-end];
  }
}

@media (max-width: 990px) {
  .content_wrapper {
    grid-template-columns: [widest-start] 60px [centered-start] 1fr [centered-end] 60px [widest-end];
  }
  .content_area__background {
    --background-width: calc(100% - 40px);
  }

}

@media (max-width: 660px) {
  article {
    padding: 0;
  }
  .content_area {
    padding: 0;
  }

  .content_area__background {
    --background-width: 100%;
  }

  .content_wrapper {
    grid-template-columns: [widest-start] 10px [centered-start] 1fr [centered-end] 10px [widest-end];
  }
}
