.image_scroller {
  position: relative;
  z-index: 12;
}

.image_scroller__gallery {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  scroll-behavior: smooth;
  gap: 10px;
  white-space: nowrap;
  justify-content: flex-start;
  display: inline-flex;
  align-items: flex-end;
  overflow: visible;
}

.image_scroller__container {
  position: relative;
  overflow-x: visible;
  padding-bottom: 10px;
  margin-bottom: 10px;
  width: 100%;
}

.image_scroller__description_container {
  width: 80%;
  text-align: left;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  border-top: 1px solid #ccc055;
  margin: 0 auto;
  height: 66px;
  overflow-y: hidden;
  padding-bottom: 10px;
}

.image_scroller__description {
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  padding: 10px;
  background: rgba(58, 58, 48, 0.7);
  transition: background 0.15s ease-out;
  max-height: 100vh;
  overflow-y: auto;

  background: linear-gradient(#eaeaea, transparent);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.image_scroller:hover .image_scroller__description_container, .image_scroller:active .image_scroller__description_container {
  overflow-y: visible;
  .image_scroller__description {
    background: rgba(58, 58, 48, 1);
    background-clip: none;
    -webkit-text-fill-color: initial;
  }
}

.image_scroller img {
  display: block;
  max-height: 300px;
  width: auto;
  object-fit: contain;
  max-width: 660px;
  transition: transform 0.15s ease-out;
  cursor: pointer;
  border: 2px solid transparent;
  border-radius: 2px;
  border-bottom: 4px solid #555555;
  transition: border-bottom 120ms ease-out;
  box-shadow: 0 4px 12px black;
}

.image_scroller img.highlighted {
  border: 2px solid var(--accent, #6495ed);
  border-bottom: 4px solid #ccc055;
}

.image_scroller__gallery > *, .image_scroller__gallery > a > img {
  display: block;
  max-height: 300px;
  max-width: 100%;
}

.image_scroller a {
  display: block;
}

/* Scrollbar styling */
.image_scroller__gallery::-webkit-scrollbar {
  height: 8px;
}
 
.image_scroller__gallery::-webkit-scrollbar-track {
  background-color: rgba(14, 17, 19, 0.37);
  display: none;
  top: 0;
}
 
.image_scroller__gallery::-webkit-scrollbar-thumb {
  background-color: rgba(93, 109, 122, 0.767);
  border-radius: 1.5px;
}

.image_scroller__gallery::-webkit-scrollbar-thumb:hover {
  background-color: rgba(146, 160, 172, 0.767);
}

.image_scroller__gallery::-webkit-scrollbar-thumb:active {
  background-color: rgb(203, 214, 226);
}

/* Media queries */

@media (max-width: 1100px) {
  .image_scroller__gallery {
    max-height: 300px;
    flex-wrap: nowrap;
    justify-content: flex-start;
    overflow-x: scroll;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
  }
  
  .image_scroller img {
    max-height: 200px;
    max-width: 80vw;
  }
  
  .image_scroller__description_container {
    width: auto;
  }
}

@media (max-width: 700px) {
  .image_scroller img {
    max-height: 80px;
  }
}