.navbar {
  line-height: 44px;
  margin: 10px auto;
  text-align: center;
}

.nav {
  display: flex;
  flex-direction: row;
  gap: 10px;
  font-size: 22px;
  white-space: nowrap;
  cursor: default;
  max-width: 100%;
  overflow: visible;
  justify-content: center;

  > a {
    border-radius: 3px;
    text-decoration: none;
    padding: 4px 9px;
    background: rgb(27, 58, 83);
    color: var(--highlight, rgb(0, 223, 252));
    border: 1px solid rgb(59, 69, 82);
    font-weight: bold;
    box-shadow: 0px 3px 40px -6px rgba(0, 0, 0, 1);
    display: inline-block;
    text-shadow: var(--shadow) 0 1px 3px 20px;
  }

  > a:visited {
    color: var(--highlight, rgb(0, 223, 252));
  }

  > a:hover {
    background: var(--bg, #29292f);
    color: var(--antistatic, rgb(255, 110, 0));
  }

  > a:active {
    filter: brightness(0.8);
  }
}

.nav::-webkit-scrollbar {
  height: 6px;
}
 
.nav::-webkit-scrollbar-track {
  background-color: rgba(14, 17, 19, 0.37);
}
 
.nav::-webkit-scrollbar-thumb {
  background-color: rgba(93, 109, 122, 0.767);
  border-radius: 1.5px;
}

@media(max-width: 1100px) {
  .nav {
    flex-wrap: wrap;
    gap: 8px;
    text-align: center;
    margin: 0;
    max-width: 100%;
  }
}

@media(max-width: 700px) {
  .navbar {
    padding: 10px 0;
    margin: 0 auto;
    line-height: normal;
  }
  
  .nav {
    font-size: 24px;
  }
}