@import './reset.css';

@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Fira Sans'), local('Fira-Sans'),
    url(https://fonts.gstatic.com/s/firasans/v17/va9E4kDNxMZdWfMOD5Vvl4jLazX3dA.woff2) format('woff2');
  font-display: swap;
}

body {
  --bg-outer: #20202a;
  --bg-inner: #18181d;
  --bg: #29292f;

  --outline: rgb(2, 2, 6);
  --outline-highlight: rgb(3, 6, 9);

  --dim-highlight: rgb(0, 134, 151);
  --highlight: rgb(0, 223, 252);
  --shadow: rgb(0, 20, 22);

  --bluehexagons: rgb(0, 223, 252);
  --antistatic: rgb(255, 110, 0);

  --content-width: 1100px;
  --background-width: calc(100% - 200px);
  --breakpoint: 1100px;

  background: linear-gradient(to bottom, var(--bg-inner), var(--bg-outer));
  color: #eaeaea;
  margin: 0;
  padding: 0;
  font-family: 'Fira Sans', sans-serif;
  font-size: 18px;
  overflow-x: hidden;

}

::-webkit-scrollbar {
  width: 14px;
  border-left: 1px solid rgba(57, 71, 75, 0.479);
}
 
::-webkit-scrollbar-track {
  background-color: rgba(14, 17, 19, 0.37);
  display: none;
  top: 0;
}
 
::-webkit-scrollbar-thumb {
  background-color: rgba(93, 109, 122, 0.767);
  border-radius: 3px;
  border-left: 1px solid rgba(57, 71, 75, 0.479);
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(146, 160, 172, 0.767);
}

::-webkit-scrollbar-thumb:active {
  background-color: rgb(203, 214, 226);
}


h1 {
  margin: 0;
  padding: 0;
  line-height: 40px;
  font-size: 38px;
  position: relative;
  color: var(--highlight);
  text-shadow: var(--shadow) 1px 0 10px;
}

h2 {
  line-height: 30px;
  text-shadow: var(--shadow) 1px 0 10px;
}
h3 {
  line-height: 20px;
  text-shadow: var(--shadow) 1px 0 10px;
}
h4 {
  line-height: 15px;
}

a svg:hover {
  text-decoration: none;
}

pre {
  padding: 5px 10px;
  margin-left: auto;
  margin-right: auto;
  overflow: auto;
  background: rgb(27, 21, 15);
  color: rgb(255, 200, 140);
  border: 2px solid rgb(128, 100, 71);
  border-radius: 3px;
}

kbd, code {
  color: rgb(255, 200, 140);
  background: rgb(27, 21, 15);
  border: 1px solid rgb(128, 100, 71);
  padding: 0 3px;
  border-radius: 3px;
}

kbd {
  border-color: rgb(128, 128, 128);
  background: rgb(21, 21, 21);
}

pre code {
  font-size: 80%;
  border: none;
  padding: 0;
}

.center {
  text-align: center;
}

.expand_toggle {
  vertical-align: middle;
  appearance: none;
  background: none;
  border: 0;
  outline: 0;
  cursor: pointer;
  font-weight: bold;
  margin-bottom: 20px;
}

.expand_toggle::before {
  color: white;
  content: '(more...)';
  font-size: 17px;
  text-decoration: underline;
}

.expand_toggle ~ * {
  display: none;
}

.expand_toggle:checked {
  font-style: italic;
  font-weight: lighter;
  margin-bottom: 10px;
}

.expand_toggle:checked::before {
  content: '(less)';
}

.expand_toggle:checked ~ * {
  display: block;
}

.flex_list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 40px;
  row-gap: 3px;
  text-align: center;
  padding: 0;
  overflow-x: hidden;
  margin: 5px 5px 20px 5px;
}

.flex_list__background {
  padding: 6px;
  background: #0b161d;
  row-gap: 0;
  column-gap: 30px;
  justify-content: left;
  border: 1px solid #1a2e3a;
  border-radius: 3px;
}

.flex_list__background > li {
  padding: 10px 10px;
  position: relative;
  transform: translateY(-5px);
  white-space: nowrap;
}

.flex_list__background > li::before {
  content: '';
  position: absolute;
  width: 12px;
  height: 4px;
  border-radius: 2px;
  transform: translate(-50%, 0);
  left: 50%;
  bottom: 0;
  background: rgba(146, 146, 146, 0.867);

  transition: color 120ms ease-out, width 120ms ease-out, transform 120ms ease-out, height 120ms ease-out;
}

.flex_list__background > li:hover::before {
  width: calc(100% - 20px);
  height: 2px;
  transform: translate(-50%, -1px);
  background: #775020;
}

.flex_list > li {
  list-style-type: none;
  display: block;
  white-space: nowrap;
}

.labeled_list {
  margin: 5px 0 20px 0;

  > div {
    color: rgb(147, 211, 219);
    text-shadow: 0 0.5px 4px black;
  }

  > ul {
    margin: 0;
  }
}

.description {
  margin: 10px 20px 30px 20px;
}

.time_range {
  float: right;
  margin: 0 10px 0 30px;
  font-size: 14px;
  font-weight: normal;
  color: #ccc;
  vertical-align: text-top;
}

article {
  width: 100%;
  margin-bottom: 20px;
  padding: 20px;
  backdrop-filter: blur(20px);
  border: 2px solid #252a33;
  border-radius: 6.6px;
  background: rgba(6, 7, 8, 0.65);
  box-shadow: 0 20px 30px rgba(6, 7, 8, 0.65);
  
}

@media (max-width: 1100px) {
  article {
    padding: 10px;
    box-shadow: 0 16px 20px rgba(6, 7, 8, 0.45);
  }
}

@media (max-width: 700px) {
  article {
    margin: 10px 0;
    padding: 6px;
    box-shadow: 0 6px 10px rgba(6, 7, 8, 0.45);
  }

  .flex_list > li {
    white-space: wrap;

    hyphens: auto;
  }
}
