.antistatic {
  --bg-outer: rgb(24, 23, 20);
  --bg-inner: rgb(29, 24, 24);
  --bg: rgb(47, 41, 41);

  --outline: rgb(6, 3, 0);
  --outline-highlight: rgb(9, 6, 3);

  --dim-highlight: rgb(177, 77, 0);
  --highlight: rgb(255, 110, 0);
  --shadow: rgb(27, 12, 0);
}

.socials {
  float: right;
  text-align: right;
  font-weight: normal;
  cursor: default;
  white-space: nowrap;
  margin-right: 10px;
}

@media(max-width: 850px) {
  .socials {
    display: block;
    float: none;
    text-align: center;
    margin: 0;
  }
}

.socials {
  margin-top: -2px;
}
.socials > span > a {
  color: #ccc;
  font-size: 40px;
  padding: 0;
  margin: 0;
  vertical-align: middle;
  line-height: 40px;
  margin-left: 3px;
}
.socials > span > a:visited {
  color: #ccc;
}
.socials > span > a:hover {
  color: #f0f0ff;
  cursor: pointer;
}
.socials > .antistatic-text {
  margin-right: 10px;
}

.features {
  padding-left: 0;
  margin-left: 0;
}

.fa-discord {
  position: relative;
  top: 2px;
}

.itch-svg {
  max-width: 1em;
  position: relative;
  top: 2px;
}

.b6-svg {
  max-width: 1em;
  position: relative;
  top: 1px;
  left: 1px;
}


.antistatic-text {
  color: var(--antistatic) !important;
  text-shadow: rgb(27, 12, 0) 1px 0 10px;
}
.antistatic-text svg {
  filter: drop-shadow(1px 0 10px rgb(27, 12, 0));
}
.bluehexagons-text {
  color: var(--bluehexagons) !important;
  text-shadow: rgb(0, 20, 22) 1px 0 10px;
}
.bluehexagons-text svg {
  filter: drop-shadow(1px 0 6px rgb(0, 20, 22));
}

#logo-div {
  overflow: hidden;
  max-width: 900px;
  padding: 10px 10px 10px 10px;
  margin: auto;
}
#logo-div #logo {
  width: max(10%, 50px);
  z-index: 10;
  margin-left: 0;
  margin-right: 0;
  text-align: center;
  display: inline-block;
}
#logo-div img:not(#logo) {
  width: 100%;
  z-index: 10;
  margin-left: 0;
  margin-right: 0;
  text-align: center;
  display: inline-block;
}

#content {
  position: relative;
}

#main {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  padding: 0;
  padding-bottom: 15px;
  background: var(--bg-inner);
  outline: 2px solid var(--outline);
  display: block;

  box-shadow: 0px 3px 45px -4px rgba(0, 0, 0, 0.75);
}

#intro {
  background: white;
  width: 100%;

  min-height: 900px;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  transform: translateY(-33.3%);
  outline: 2px solid var(--outline);
}

#sidebar {
  width: 100%;
}
#sidebar > iframe {
  width: 100% !important;
}
@media (min-width: 990px) {
  #main.withSidebar {
    max-width: 1200px;
  }
  #main.withSidebar #articles {
    width: calc(100% - 320px);
  }
  #sidebar {
    width: 300px;
    position: absolute;
    top: 0;
    right: 10px;
  }
}
#main p {
  text-align: justify;
  text-justify: auto;
}

#main article > * {
  max-width: 690px;
  padding-left: 5px;
  padding-right: 5px;
  margin-left: auto;
  margin-right: auto;
}
#main article > h1 {
  margin: 0;
  background: var(--bg-outer);
  width: 100%;
  max-width: 100%;
  padding: 0;
}
#main div.spoiler {
  max-width: 690px;
  padding-left: 5px;
  padding-right: 5px;
  margin-left: auto;
  margin-right: auto;
}
#main div.spoiler > label {
  opacity: 1;

  color: var(--dim-highlight);
  cursor: pointer;
  user-select: none;
}
#main div.spoiler > label:hover {
  color: var(--highlight);
}
#main div.spoiler > label:last-of-type {
  display: none;
}
#main div.spoiler > input:checked ~ label:first-of-type {
  display: none;
}
#main div.spoiler > input:checked ~ label:last-of-type {
  display: block;
}
#main div.spoiler > input {
  display: none;
}
#main div.spoiler > input:checked ~ :last-child {
  display: block;
}
#main div.spoiler > :last-child {
  display: none;
}

#main ul {
  list-style: inside none;
}

#main ul > li {
  margin-bottom: 10px;
  margin-left: 8px;
}

#main h2, #main h3, #main h4 {
  text-align: left;
}
#main > article {
  margin-bottom: 20px;
}
#main > article > iframe {
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.antistatic .features strong {
  color: rgb(204, 88, 0);
  text-shadow: rgb(17, 7, 0) 1px 0 10px;
}

#main article > .reel {
  width: 100%;
  max-width: 480px;
  margin-left: auto;
  margin-right: auto;
}
